{% extends 'pages/main.html' %}
{% block title %} About Us {% endblock %}|
{% load static %}



{% block content %}
    <div class="top-banner">
			<div class="container">
				<div class="small-bold-text banner-text">About us</div>
			</div>
    </div>
    <header>
			<div class="container header-section flex">
				<div class="header-left"></div>
					<h1>Future gadgets:</h1><br>
					<p>"Discover the Future of Electronics at Future Gadgets!
						Explore our extensive range of cutting-edge gadgets,
						from smartphones to drones and everything in between.
						Enjoy competitive prices, fast shipping, and exceptional
						customer service. Upgrade your tech game today and shop with us!"</p>



				<div class="header-right"></div>
					<img src="C:\Users\ASUS\OneDrive - University of Wolverhampton\sem3\
					Collabrative development\myself\images\iiii.jfif" alt="my fav">

			</div>

    </header>
{% endblock %}