{% extends 'pages/main.html' %}

{% block title %} New Products {% endblock %}|
{% load static %}
{% block content %}
  <h1 class="text-center text-xl font-semibold ">Browse Our Future Gadgets</h1>
  <div class="row flex">
		<div class="w-1/3 px-8">
          <img class="image" src="{% static 'images/placeholder.png' %}">
          <div class="box-element product">
                  <h6><strong>Product</strong></h6>
              <hr>
              <br>


              <a href="#" class="justify-items-end px-4 py-3 text-sm font-semibold bg-blue-500 text-white rounded-xl hover:bg-blue-700">View Item</a>
              <a href="#" class="justify-items-end px-4 py-3 text-sm font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Buy Now</a>
                  <h4 style="display: inline-block; float: right"><strong>£20</strong></h4>

          </div>

		</div>

		<div class="w-1/3 px-8">
          <img class="image" src="{% static 'images/placeholder.png' %}">
			<div class="box-element product">
              <h6><strong>Product</strong></h6>
                  <hr>

                  <br>

              <a href="#" class="justify-items-end px-4 py-3 text-sm font-semibold bg-blue-500 text-white rounded-xl hover:bg-blue-700">View Item</a>
              <a href="#" class="justify-items-end px-4 py-3 text-sm font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Buy Now</a>
                  <h4 style="display: inline-block; float: right"><strong>£20</strong></h4>
            </div>
		</div>

		<div class="w-1/3 px-8">
          <img class="image" src="{% static 'images/placeholder.png' %}">
			<div class="box-element product">
              <h6><strong>Product</strong></h6>
                  <hr>

                  <br>


              <a href="#" class="justify-items-end px-4 py-3 text-sm font-semibold bg-blue-500 text-white rounded-xl hover:bg-blue-700">View Item</a>
              <a href="#" class="justify-items-end px-4 py-3 text-sm font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Buy Now</a>
                  <h4 style="display: inline-block; float: right"><strong>£20</strong></h4>
			</div>
		</div>
  </div>
{% endblock %}